---
title: Using Artificial Intelligence to Assist Formal Verification
author: [lana-perkins, michael-castiglia, amd]
tags:
  - research
  - poster
  - undergraduate
  - AMD
  - UCF

---


![AI and Formal Verification](/DRACO/images/assets/2024/2024-SSS-AI-and-Formal-Verification.jpg){:class="img-responsive"}
